name: Build & Publish Module Workflow

run-name: 'Build & Publish Module -- ${{github.event.inputs.module}}'

on:
    workflow_dispatch:
        inputs:
            module:
                type: choice
                description: Module
                options:
                    - --SELECT--
                    - activej-bytebuf
                    - activej-common
                    - auto-service
                    - bugsplat
                    - directory-watcher
                    - eclipse-collections
                    - eclipse-collections-api
                    - guava
                    - hapi-fhir-base
                    - hapi-fhir-caching-api
                    - hapi-fhir-r4
                    - hapi-fhir-structures-r4
                    - hapi-fhir-utilities
                    - httpclient
                    - httpcore
                    - httpmime
                    - javax-inject
                    - jgit
                    - jheaps
                    - jsr305
                    - ontology-model
                    - protobuf-java
                    - reactive-streams
                    - record-builder-core
                    - roaringbitmap
                    - snorocket
                required: true

env:
    GITHUB_MODULE_DIR: /home/runner/work/${{github.event.repository.name}}/${{github.event.repository.name}}/${{github.event.inputs.module}}
    SELF_HOSTED_MODULE_DIR: /home/ec2-user/actions-runner/_work/${{github.event.repository.name}}/${{github.event.repository.name}}/${{github.event.inputs.module}}
    MAVEN_SETTING: '/home/ec2-user/maven/.m2/settings.xml'
    PUBLISH_OWNER: 'ikmdev'

  

jobs:
  build-publish:
    name: Build & Publish
    runs-on: ubuntu-24.04
    env:
        JAVA_VERSION: '21'
    steps:
          - name: Fail if --SELECT-- chosen
            if: github.event.inputs.module == '--SELECT--'
            run: |
              echo "Please pick a valid module"
              exit 1

          - name: Checkout Code Repository
            uses: actions/checkout@v4

          - name: Setup Java
            uses: actions/setup-java@v4
            with:
              distribution: 'zulu'
              java-version: ${{env.JAVA_VERSION}}
              server-id: ossrh
              server-username: MAVEN_USERNAME
              server-password: MAVEN_CENTRAL_TOKEN
              gpg-private-key: ${{secrets.GPG_KEY}}
              gpg-passphrase: MAVEN_GPG_PASSPHRASE

          - name: Maven Build
            run: |
              mvn clean install \
                    -Dmaven.build.cache.enabled=false \
                    --batch-mode \
                    -e \
                    -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn 
            working-directory: ${{env.GITHUB_MODULE_DIR}}

          - name: List Jars
            run: |
               cd target
               jar tf activej-bytebuf-4.3-r10.jar
               exit 1

          - name: Get jar count
            id: set-jar-count
            run: |
              find ./target -maxdepth 1 -type f -name '*[!-javadoc][!-sources].jar' -exec jar tf  {} \; | grep -c 'dev.ikm.jpms' | xargs
              size=$(find ./target -maxdepth 1 -type f -name '*[!-javadoc][!-sources].jar' -exec jar tf  {} \; | grep -c 'dev.ikm.jpms' | xargs )
            working-directory: ${{env.GITHUB_MODULE_DIR}}

          - name: The demo step has failed
            env:
              MIN_ALLOWED_ENTRIES: 1
            if: ${{ steps.set-jar-count.size >= fromJSON(env.MIN_ALLOWED_ENTRIES) }}
            run: exit 1

          # - name: Deploy Artifacts To Nexus
          #   uses: ikmdev/maven-nexus-deploy-action@jpms-deps
          #   with:
          #       nexus_repo_password: ${{secrets.EC2_NEXUS_PASSWORD}}
          #       repo_name: ${{github.event.workflow_run.head_repository.full_name}}
          #       branch_name: ${{github.event.workflow_run.head_branch}}
          #       working_directory: ${{env.GITHUB_MODULE_DIR}}


          - name: Publish to OSSRH Maven Central
            run: |
                mvn deploy \
                    --batch-mode \
                    -e \
                    -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn \
                    -DskipTests \
                    -DskipITs \
                    -DrepositoryId='maven-releases' \
                    -DrepositoryIdOSSRH='true' \
                    -Dmaven.source.skip=true  \
                    -Dmaven.javadoc.skip=true \
                    -PstageOSSRH
            working-directory: ${{env.GITHUB_MODULE_DIR}}
            env:
              MAVEN_USERNAME: ${{secrets.OSSRH_TOKEN_USER}}
              MAVEN_CENTRAL_TOKEN: ${{secrets.OSSRH_TOKEN_PASS}}
              MAVEN_GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
